@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body {
    background: white;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#navId {
    background: linear-gradient(to right, #d7d2cc, #304352);
    display: flex;
    height: calc(100% + 10vh);
}

#github, #getStarted, #about , #home {
    transform: scale(1.5);
    color: white;
    transition: all .25s ease-in-out;
}

    #home:hover {
        transform: scale(1.3);
        color: gray;
        transition: all .25s ease-in-out;
    }

.nl, .nl:hover {
    color: white;
}

input[type=text] {
    width: 50%;
    margin: 1%;
}

