.gridContainer {
    margin: 2%;
    display: inline-grid;
    grid-template-columns: repeat(70, 1.2vw);
    grid-template-rows: repeat(30, 1.2vw);
    border-top: 1px solid rgb(175,216,248);
    border-left: 1px solid rgb(175,216,248);
}

.gridItems {
    border-right: 1px solid rgb(175,216,248);
    border-bottom: 1px solid rgb(175,216,248);
    cursor: pointer;
    font-size: .5vw;
    text-indent: -9999px;
}

    .active {
        animation-name: scaleE;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
        animation-direction: alternate;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-play-state: running;
        cursor: pointer;
    }

    @keyframes scaleE {
        0% {
            transform: scale(.3);
            background-color: #FF0087;
        }

        50% {
            transform: scale(1.2);
            background-color: #B95741;
        }

        100% {
            transform: scale(1.08);
            background-color: #71284A;
        }
    }
