.gridContainer {
    display:inline-flex;
    margin:1%;
    border-top: 1px solid rgb(175,216,248);
    border-left: 1px solid rgb(175,216,248);
}

.gridItems {
    display: table-cell;
    border-right: 1px solid rgb(175,216,248);
    border-bottom: 1px solid rgb(175,216,248);
    cursor: pointer;
    width: 1.3vw;
    height: 1.3vw;
    border-collapse: collapse;
    align-items: center;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

.imgClass {
    display: table-cell;
    border-right: 1px solid rgb(175,216,248);
    border-bottom: 1px solid rgb(175,216,248);
    cursor: pointer;
    width: 1.3vw;
    height: 1.3vw;
    border-collapse: collapse;
    background-image: url("/favicon.ico");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .5s ease-in-out;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

.imgClass:hover {
    transform: scale(1.2);
    transition: all .5s ease-in-out;
}

.focus {
    transform: scale(0.5);
    transition: all .25s ease-in-out;
}

.active {
    border: 1px solid rgb(175, 216, 248);
    animation-name: scaleE;
    animation-duration: .25s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    background-color: #71284A;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}



.imgClass.dragged,.gridItems.dragged {
    opacity: 0;

}

@keyframes scaleE {
    0% {
        transform: scale(.3);
        background-color: #FF0087;
        border-radius: 100%;
    }

    50% {
        background-color: #B95741;
        border-radius: 50%;
    }

    75% {
        transform: scale(1.3);
        background-color: rgb(150, 0, 89);
        border-radius: 25%;
    }

    100% {
        transform: scale(1.06);
        background-color: #71284A;
    }
}

.lineNumber {
    background-color: teal;
    text-align: center;
    border-bottom: 1px solid rgb(175,216,248);
    border-right: 1px solid rgb(175,216,248);
    font: bold;
    color: whitesmoke;
    font-size: .8vw;
    width: 1.3vw;
    height: 1.3vw;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

.card {
    padding: 1%;
    position: relative;
    margin: 1%;
    width: 20%;
    border: .1px solid;
    border-radius: 5px;
}
 


