/*boxes*/

.boxColor {
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6);
}

.boxMain {
    width: 100%;
    /*border: 2px solid silver;*/
    padding: 2%;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 10%;
    transition: .25s;
    justify-content: center;
    /*border-radius: 4px;*/
}

.arrayContainer {
    display: inline-block;
    position: relative;
    margin: 1%;
    width: 100%;
    /*border: .1px solid;
    border-radius: 5px;
    animation: colorchange 1s;
    animation-iteration-count: infinite;
    */
}

.arrayContainer2 {
    display: inline-block;
    position: relative;
    width: 71.8vw;
    margin: 1%;
    /*border-radius: 5px;
    border: 0.1px solid;
    animation: colorchange2 1s;
    animation-iteration-count: infinite;
    transition: all .25s ease-in-out;*/
}


.arrayBar {
    width: 1%;
    background-color: orange;
    display: inline-block;
    margin: 0 0.2%;
    margin-top: 2%;
    margin-bottom: 2%;
    text-indent:-9999px;
}

.listHover {
    height: 3vw;
    width: 40%;
    margin: 1%;
    margin-left: 30%;
    border-radius: 5px;
    transition: .25s;
    opacity: 1;
}

    .listHover:hover {
        transform: scale(1.05);
        transition: transform .25s;
    }


/*carousel*/

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators .active {
    background-color: skyblue;
}

.imageClass {
    transition: all .25s ease-in-out;
}

    .imageClass:hover {
        transform: scale(1.01);
        transition: all .25s ease-in-out;
    }

/*footer*/
.footer {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to left, #434343, #000000);
    text-align: center;
    height: auto;
}

.innerfooter {
    position: relative;
    width: 80%;
    text-align: left;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
    margin-top: 0;
    color: white;
}

.infoot:after {
    content: "";
    display: table;
    clear: both;
}

.col1, .col2 {
    float: left;
    width: 50%;
}

.col2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    overflow: auto;
}

    .col2 input[type="email"] {
        width: 40%;
        padding: 10px;
        border: 2px solid black;
        border-radius: 20px;
        margin-bottom: 8px;
    }

    .col2 input[type=submit] {
        background-color: red;
        border-radius: 20px;
        color: white;
        padding: 10px 10px;
        border: none;
        cursor: pointer;
    }

    .col2 p {
        font-size: 100%;
        margin-bottom: 0;
    }

    .col2 pi {
        color: red;
    }

    .col2 form {
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0;
        width: 100%;
        margin-top: 0;
    }

.iconc {
    text-align: center;
    float: right;
    right: 20px;
    overflow: auto;
    position: relative;
}

.iconc1, .iconc2 {
    float: right;
}

    .iconc2 a {
        padding: 5px;
    }

.innerfooter i:hover {
    color: red;
}

.innerfooter i {
    text-align: center;
    font-size: 20px;
    color: white;
    padding: 5px;
}

.span {
    color: red;
}

.i {
    color: red;
    position: relative;
}

    .i:before {
        position: absolute;
        color: white;
    }

#myBtn {
    display: none;
    position: fixed;
    font-size: 20px;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    color: gray;
    cursor: pointer;
    padding: 10px;
    transition: all .5s ease-in-out;
}

    #myBtn:hover {
        color: silver;
        transform: scale(1.2);
        transition: all .25s ease-in-out;
    }

/*animations*/
@keyframes colorchange {
    0% {
        border: 1px solid;
        border-color: orange blue green tomato;
    }

    50% {
        border: 1px solid;
        border-color: blue tomato orange green;
    }

    100% {
        border: 1px solid;
        border-color: tomato green blue orange;
    }
}

@keyframes colorchange2 {
    0% {
        border: 1px solid;
        border-color: tomato green blue orange;
    }

    50% {
        border: 1px solid;
        border-color: blue tomato orange green;
    }

    100% {
        border: 1px solid;
        border-color: orange blue green tomato;
    }
}
